{% extends 'base.html' %} {% block title %} Job Applictaions {% endblock title%}
{% block content %} {% for object in object_list %}
<a href='{% url "jobs:application" object.pk %}'>
  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">{{ object.company_name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ object.job_title }}</h6>
      <p class="card-text">{{ object.job_description }}</p>
      <h6 href="#" class="card-link">{{ object.expected_salary }}JD</h6>
    </div>
  </div>
</a>
{% endfor %} {%endblock content %}
